.lingkar {
    width : 100px;
    height : 100px;
    background-color: brown;
    margin : auto;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
}

.ketupat {
    width : 100px;
    height : 100px;
    background-color: brown;
    margin : 50px auto;
    /* border-top-right-radius: 50%;
    border-bottom-left-radius: 50%; */
    border-radius: 0 50% 0 50%;
    text-align: center;
    line-height: 100px;
}

.gambar {
    width : 100px;
    height : 100px;
    background-image: url(farsikogama.jpg);
    margin : 50px auto;
    border-radius: 50% 50% 50% 50%;
    text-align: center;
    line-height: 100px;
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
}